body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #00B7FF; }

.btn-green:hover {
  background-color: #48CFAD !important; }

#homepage {
  margin-top: 2em; }

#welcome {
  margin-bottom: 0.5em; }

#welcome-desc {
  font-size: 25px; }

.welcome-btn {
  background-color: #48CFAD !important;
  margin: 0em 1em 0 0; }

#new-question-form {
  width: 60%;
  margin: 0 auto; }

#add-answer {
  margin-bottom: 15px; }

.navbar-default {
  background-color: #48CFAD !important; }

.navbar-brand {
  padding: 0 0; }

.navbar-brand img {
  max-height: 100%; }

.navbar-text {
  color: white; }

#questions-info-header {
  margin: 2em 0; }

#current-date {
  margin-left: 5%; }

.question-panel {
  width: 90%;
  background-color: #48CFAD !important;
  color: white;
  margin: 0 auto;
  font-size: 1.5em; }
  .question-panel .question-votes {
    float: right; }

#poll {
  width: 60%;
  margin: 0 auto; }
  #poll .active {
    background-color: #48CFAD !important; }
  #poll button {
    float: right; }
