<div class="row">
	<div class="col-md-12">
		<div id="poll">
			<h5>{{question}}</h5>
			<div class="list-group">
			{{#each answers}}
				<a href="#" class="list-group-item poll-answer" id="answer{{@index}}">{{answer}}</a>
			{{/each}}
			</div>
			<button class="btn btn-default">Submit</button>
		</div>
	</div>
</div>
