<div class="row">
	<div class="col-md-12">
		<div id="poll">
			<h5>{{question.question}}</h5>
			<div class="list-group">
			{{#each answers}}
				<a href="#" class="list-group-item poll-answer" id="{{_id}}">{{answer}}</a>
			{{/each}}
			</div>
			<form method="POST" action="/questions/{{question._id}}">
				<input name="answer" id="answer" hidden>
				<button type="submit" class="btn btn-default btn-green">Submit</button>
			</form>
		</div>
	</div>
</div>
