<div class="row" id="questions-info-header">
	<div class="col-md-4">
		<h5>Welcome to Pollpulus! This is a list of today's active polls. You can participate in a poll by clicking on it and voting. You can also submit a new poll.</h5>
		<a id="submit-poll" class="btn btn-default btn-green" href="/questions/new" role="button">Submit a new poll</a>
	</div>
	<div class="col-md-8">
		<h5 id="current-date"></h5>
		{{#each questions}}
		<a href="/questions/show/{{_id}}" target="_blank">
			<div class="panel panel-default question-panel">
			  <div class="panel-body">
			    {{question}}
			    <span class="question-votes">{{votes}}</span>
			  </div>
			</div>
		</a>
		{{/each}}
	</div>
</div>

<script type="text/javascript">
	var date = new Date();
	document.getElementById('current-date').innerHTML = date.toDateString();
</script>